@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #f8f2dc;
    --secondary-color: #9e6240;
    --accent1-color: #cd4631;
    --accent2-color: #81adc8;

    --heading-font: 'Oswald', sans-serif; 
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #81adc8;
    --nav-link-color: #f8f2dc;
    --nav-hover-link-color: #81adc8;
    --nav-hover-background-color: #9e6240; 
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2 {
    color: var(--accent1-color);
}

p {
    color: var(--accent2-color);
}

.hero {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

h1 {
    position: absolute;
    top: 120px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    color: white;
}

article {
    position: absolute;
    overflow: hidden; 
    background-color: var(--primary-color);
    top: 400px;
    left: 100px;
    text-align: center;
}

article img {
    float: right;
    margin-left: 10px;
    width: 200px;
}